<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.pape.lifecycle" >

    <application>
        <provider
            android:name=".LifecycleProvider"
            android:authorities="${applicationId}.lifecycle-trojan"
            android:exported="false"
            android:multiprocess="true" />

    </application>

</manifest>
